﻿<%@ Page Title="" Language="C#" MasterPageFile="~/master_admin.Master" AutoEventWireup="true" CodeBehind="comment.aspx.cs" Inherits="Webborad.Account_admin.manage.comment" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Main_Content" runat="server">
</asp:Content>
