﻿<%@ Page Title="" Language="C#" MasterPageFile="~/master_admin.Master" AutoEventWireup="true" CodeBehind="user.aspx.cs" Inherits="Webborad.Account_admin.manage.user" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Main_Content" runat="server">
</asp:Content>
